#!/bin/bash


function devops_exam (){
  if [[ $# -ne 2 ]]; then
    echo "Parameter missing"
    return 1
  fi
  
  fichier=$1
  dest=$2

  mv ${fichier} ${dest}/`basename ${fichier} .txt`_devops.txt

  return 0
}
